version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev   # ← ahora usamos el Dockerfile de dev
    container_name: authorization-service
    depends_on:
      - db
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_NAME: application_db
      DATABASE_URL: postgres://postgres:postgres@db:5432/application_db
      NODE_ENV: development
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app              # ← live reload
      - /usr/src/app/node_modules   # ← evita sobreescritura por bind mount

  db:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: application_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
